.left{
    background-color: aquamarine;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

}

.right{
  background-color: aquamarine;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}

a{

}

a.button{

}
